* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  max-width: 969px;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar__container > h4 {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #4e5150;
  margin-top: 15px;
}
.avatar__container > p {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  margin-top: 5px;
}
.avatar__container > img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 16px;
}
.avatar__reach {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}
.avatar__reach__posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #e5e5e5;
  border-radius: 12px;
  padding: 7px;
  margin: 10px;
}
.reach__number {
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  color: #4e5150;
}
.reach__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: gray;
}
.main__container {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
}
.photos {
  margin: auto;
  display: grid;
  grid-gap: 36px;
}
.photo__one {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  grid-column: 1 / 3;
  grid-row: 1;
}
.photo__two {
  width: 630px;
  height: 300px;
  border-radius: 12px;
  grid-column: 2 / span 3;
  grid-row: 1;
}
.photo__three {
  width: 634px;
  height: 300px;
  border-radius: 12px;
  grid-column: 1 / span 2;
  grid-row: 2;
}
.photo__four {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  grid-column: 1;
  grid-row: 3;
}
.photo__five {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  grid-column: 2;
  grid-row: 3;
}
.photo__six {
  border-radius: 20px;
  width: 300px;
  height: 640px;
  grid-column: 3;
  grid-row: 2 / span 3;
}
footer {
  font-size: 14px;
  color: #a9a9a9;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}
a {
  color: #a9a9a9;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  .main__container {
    margin: 40px 0;
  }
  .photos {
    grid-gap: 11px;
  }
  .photo__one {
    width: 110px;
    height: 110px;
  }
  .photo__two {
    width: 230px;
    height: 110px;
  }
  .photo__three {
    width: 230px;
    height: 210px;
  }
  .photo__four {
    width: 110px;
    height: 110px;
  }
  .photo__five {
    width: 110px;
    height: 110px;
  }
  .photo__six {
    width: 110px;
    height: 230px;
  }
}
